{% extends 'base_form.html' %}
{% block title %}
Users
{% endblock %}

{% block contenth %}
			<div class="sidebar-help">
				<ul class="nav-list">
<p><a href="/" class="nav-list"><button type="submit" class="btn btn-primary btn-lg mb-2">HOME</button></a></p>
                </ul>
			</div>
    <h1>Список пользователей</h1>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Почта</th>
                <th>Дата регистрации</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
