{% extends 'base_form.html' %}
 {% load static %}
{% block contenth %}
  <h1>Book a Computer</h1>
	<div class="cards-wrapper">
				<!-- row -->
				<div class="cards-wrapper-row">
					<!-- col -->
					<div class="cards-wrapper-col col-vertical">
						<a href="" class="card card-horizontal card-sale"><img src="{% static 'img/computer.jpg' %}" alt="">
						</a>
					</div>
                </div>
    </div>
  <form method="post">
    {% csrf_token %}
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" required>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" required>
    <button type="submit">Book</button>
  </form>
<a href="/"><button type="submit" class="btn btn-primary btn-lg mb-2">Назад</button></a>
{% endblock %}